
#customers_list {
	margin-bottom: 20px;
}

#customers_list ul {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
}

#customers_list .scroll {
	width: 750px;
	height: 48px;
	overflow: hidden;
	position: relative;
}

#customers_list ul li {
	float: left;
	list-style: none;
	color: #C0C0C0;
	margin-right: 10px;
	background-image: url(../images/btn_slidemenu.png);
	background-repeat: no-repeat;
	font-family: Nunito, Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	width: 155px;
	height: 48px;
	line-height: 48px;
	padding: 0;
	text-align: center;
	cursor: pointer;
	position:relative
}

#customers_list .left {
	float: left;
	cursor: pointer;
	height: 48px;
	background-image: url(../images/arrow_left.png);
	background-repeat: no-repeat;
	background-position: left center; 
	width: 25px;
}

#customers_list .right {
	float: right;
	cursor: pointer;
	height: 48px;
	width: 25px;
	background-position: right center;
	background-image: url(../images/arrow_right.png);
	background-repeat: no-repeat;
}

#customers_list ul li.selected {
	background-image: url(../images/btn_slidemenu_focus.png);
	color: #FFFFFF;
}

#customers_list ul li a {
	color: #C0C0C0;
	text-decoration: none;
}

#customers_list ul li.selected a {
	color: #FFFFFF;
}

.customer {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}

.customer h2 {
	margin-left: 35px;
	color: #000000;
}

.customer h2.withimage {
	margin-left: 170px;
}

.customer .image {
	float: left;
	margin: 0 10px 10px 35px;
}

.customer .excerpt {
	color: #33A3C9;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 0 10px 0 35px;
	line-height: 1.4em;
}

.customer .excerpt.withimage {
	padding: 0 10px 0 170px;
}

.customer .content {
	clear: left;
	padding: 0 10px 0 35px;
	background-image: url(../images/quote_start.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 1.4em;
}

.customer .content blockquote {
	margin: 0;
	background-image: url(../images/quote_end.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.customer .content ul {
	margin: 0 0 1em 0;
	padding: 0;
}

.customer .content ul li ul {
	margin-left: 10px;
}
.customer .content ul li {
	margin: 0;
	padding: 0;
	list-style: url(../images/bullet.png) square;
}

.screenshots {
	margin: 0;
	padding: 0;
}

.screenshots li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.screenshots {
	position: relative;
}

.vertical .content {
	margin-right: 270px;
}

.horizontal .screenshots {
	height: 250px;
	margin-bottom: 10px;
}

.horizontal .screenshots li {
	width: 100%;
	text-align: center;
}

.vertical .screenshots {
	float: right;
	width: 250px;
	margin: 0 0 20px 20px;
	height: 475px;
	text-align: center;
}

.both .screenshots {
	float: right;
	width: 475px;
	margin: 0 0 20px 20px;
	height: 475px;
	text-align: center;
}

.vertical .screenshots li {
	text-align: right;
}