{% extends "WowbileFrontendBundle:Exception:error.html.twig" %}

{% block body %}		
		<h1>{{ 'Access denied!' | trans }}</h1>
		
		<p>{{ 'You are not allowed to see this page.' | trans }}</p>
{% endblock %}