{% extends "WowbileBackendBundle::layout.html.twig" %}

{% block content %}

<h1>{% block content_title %} {% endblock %}</h1>

{% if app.session.hasFlash('error') %}
<div id="flash_error">
{{ app.session.flash('error') }}
</div>
{% endif %}

{% if app.session.hasFlash('notice') %}
<div id="flash_notice">
{{ app.session.flash('notice') }}
</div>
{% endif %}

{% block content_body %}
{% endblock %}

{% endblock %}


